/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4E0B9;
}
header{
    text-align: center;
}
a{
    text-decoration: none;
    color:#000;
    padding: 5px;
}
a:hover{
    color: #A8A196;
}
.album {
    padding: 10px;
    margin: 10px;
    background: #7D7463;
    border-radius: 5px;
}


#add-link {
    font-size: 2em;
    border: 2px solid #7D7463;
}
#edit-link {
    float: right;
    margin-right: 10px;
}

#delete-link {
    float: right;
}
#add-album-container {
    padding: 10px;
    margin: 10px;
    background: #7D7463;
    border-radius: 5px;
}
#album-list{
    max-width: 90%;
    margin:auto;
}


/* Form */

label {
    display: block;
}

.inline {
    display: inline;
}

#songs-p input {
    margin-top: 5px;
}

#add-song {
    color: #A8A196;
    font-size: 0.75em;
    text-align: right;
}

#add-song:hover{
    color: #000;
}


/* The Close Button */

.close {
    color: #A8A196;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Typography */


a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}


/* Larger Resolutions */

@media (min-width: 600px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .album {
        width: 25%;
    }
    #add-album-container {
        max-width: 30%;
        margin: auto;
    }
}